body {
    color: #fff;
    background-color: black;
}

/* Uncomment the following for light mode - Or if you're a  masochist. */
/* body {
    color: #000;
    background-color: #fff;
}

body nav ul a,
body nav ul a:visited {
    color: #000;
} */


/* LINKS AND NAV */

nav ul {
    list-style: none;
    display: block;
}

nav ul li {
    display: inline-block;
    margin: 1rem 2rem;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid red;
}

nav ul a:visited {
    color: #fff;
}


/* FORM STYLES */

form {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

form label {
    display: block;
    margin-bottom: 1rem;
}

form input {
    display: block;

    margin-bottom: 1rem;
}

form button {
    display: block;
}

/* Tables */

table#time-since-feeding-table {

    border: 1px solid blue;
    display: block;
    height: 5rem;
}

table#time-since-feeding-table td {

    border: 1px solid blue;

}